graft fedmsg.d
recursive-include pdcupdater/tests/handler_tests/data *
recursive-include pdcupdater/tests/handler_tests/test_modules_data *
recursive-include pdcupdater/tests/vcr-request-data *
include *.rst
include LICENSE
include test-requirements.txt
